<footer>
  <div style="margin: 108px 0;">
    <ul class="styless-list">
      <li>
        <a href="/">
          home
        </a>
      </li>
    </ul>
    <p>Menu</p>
    <ul class="styless-list">
      {% for menu_item in config.extra.footer_menu %}
      <li>
        <a href="{{ menu_item.href }}" {% if menu_item.title %} {% endif %}>
          {{ menu_item.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <p>Search</p>
    <div class="search-container">
      <div style="position: relative; display: flex; align-items: center;">
        <input type="text" id="search" placeholder="Search..." style="padding-right: 30px;">
        <!-- Adjust padding compensation -->
        <i class="fas fa-search" style="position: absolute; right: 10px; pointer-events: none;"
          aria-label="Search Icon"></i>
      </div>
    </div>
    <div class="search-results">
      <div class="search-results__items"></div>
    </div>

  </div>
  <div>
    {% include "partials/social.html" %}
  </div>
  <!-- <div> -->
  <!--   <p>Eduardo Dadalto &copy; 2024 -->
  <!--   </p> -->
  <!-- </div> -->
</footer>
