/* Code block responsiveness */
pre {
  padding: 0.5rem;
  overflow: auto;
}
/* The line numbers already provide some kind of left/right padding */
pre[data-linenos] {
  padding: 0.5rem 0;
}
pre table td {
  padding: 0;
}
/* The line number cells */
pre table td:nth-of-type(1) {
  text-align: right;
  user-select: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  pre mark {
    display: block;
    background-color: rgba(255, 140, 0, 0.2);
  }
}

@media (prefers-color-scheme: light) {
  pre mark {
    display: block;
    background-color: rgba(254, 252, 232, 0.9);
  }
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  color-scheme: light dark;
  background-color: Canvas;
  color: CanvasText;
}

/* :root { */
/*   pico-font-family: "Helvetica", "Arial", sans-serif; */
/*   pico-color-scheme: light dark; */
/*   pico-background-color: Canvas; */
/*   pico-color: CanvasText; */
/* } */
