<!DOCTYPE html>
<html lang="en">

<head>
  {%- include "partials/head.html" %}

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  {#- SEO: title, description, etc #}
  {%- block seo %}
  {%- if config.extra.title_separator %}
  {%- set title_separator = " " ~ config.extra.title_separator ~ " " -%}
  {%- else %}
  {%- set title_separator = " | " -%}
  {%- endif %}
  {%- endblock seo %}

  {%- block math -%}
  {%- endblock math -%}

  {%- block extrahead -%}
  {%- endblock extrahead -%}
</head>

<body>
  {% block header %}
  {% include "partials/header.html" %}
  {% endblock header %}

  {% block after_header %}
  {% endblock %}

  {% block content %}
  {% set blog = get_section(path="blog/_index.md") %}
  {% set publications = get_section(path="publications/_index.md") %}
  {% if section.content or blog.pages %}

  <main>
  {% block main %}
    {% if section.content %}
    <div {% if blog.pages %}class="space" {% endif %}>
      {{ section.content | safe }}
    </div>
    {% endif %}
<p>Please press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd> to re-render an MDN page.</p>
    {% if blog.pages %}
    <h3>Recent posts</h3>
    <ul>
      {% for post in blog.pages | slice(end=20) %}
      <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
      <p><a href="{{ blog.permalink }}"><span style="font-weight:bold; font-size: larger;">&#8709</span> From Zero blog </a></p>
    <p><a href="{{ publications.permalink }}">Publications</a></p>
    {% endif %}
  {% endblock main %}
  </main>
  {% endif %}
  {% endblock content %}

  {% block footer %}
      {%- include "partials/footer.html" %}
  {% endblock %}


</main>

</html>

