<!DOCTYPE html>
<html lang="en">

<head>
  {%- include "partials/head.html" %}

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  {#- SEO: title, description, etc #}
  {%- block seo %}
  {%- if config.extra.title_separator %}
  {%- set title_separator = " " ~ config.extra.title_separator ~ " " -%}
  {%- else %}
  {%- set title_separator = " | " -%}
  {%- endif %}
  {%- endblock seo %}

  {%- block math -%}
  {%- endblock math -%}

  {%- block extrahead -%}
  {%- endblock extrahead -%}
</head>

<body>
  {% block after_header %}
  {% endblock %}

  {% block content %}
  {% set blog = get_section(path="blog/_index.md") %}
  {% if section.content or blog.pages %}

  <main>
  {% block main %}
    {% if section.content %}
    <div {% if blog.pages %}class="space" {% endif %}>
      {{ section.content | safe }}
    </div>
    {% endif %}
  {% endblock main %}
  </main>
  {% endif %}
  {% endblock content %}
  {% block footer %}
      {%- include "partials/footer.html" %}
  {% endblock %}
  </main>

</html>

