{% extends "index.html" %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block header %}
  {% include "partials/header.html" %}
<nav>
  <a href="{{ config.base_url }}">&LeftArrow; Home</a>
</nav>
{% endblock header %}

{% block content %}
<article class="container">
  <h1>{{ page.title }}</h1>
  {% if page.date or page.taxonomies %}
  <p>
    {% if page.date %}{{ page.date | date(format="%-d %B, %Y") }}{% endif %}

    {% set_global sorted_taxonomies = [] %}
    {% for taxonomy_name, _ in page.taxonomies %}
    {% set_global sorted_taxonomies = sorted_taxonomies | concat(with=taxonomy_name) %}
    {% endfor %}
    {% set_global sorted_taxonomies = sorted_taxonomies | sort %}

    {% for taxonomy_name in sorted_taxonomies %}
    {% set terms = page.taxonomies[taxonomy_name] %}
    - {{ taxonomy_name | capitalize }}:
    {% for term_name in terms %}
    {% set term = get_taxonomy_term(kind=taxonomy_name, term=term_name) %}
    <a href="{{ term.permalink }}">{{ term.name }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    {% endfor %}
  </p>
  {% endif %}
  <div></div>
  {{ page.content | safe }}
</article>

<div id="disqus_thread"></div>
<script>
    /**
TODO:
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://from-zero.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock content %}

