{% extends "index.html" %}

{% block title %}{{ config.title }} {{ page.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block after_header %}
<nav>
  <a href="{{ config.base_url }}">&LeftArrow; Home</a>
</nav>
{% endblock after_header %}

{% block content %}
<article class="container">
  <h2>{{ page.title }}</h2>
  {% if page.date or page.taxonomies %}
  <p class="taxonomies">
    {% if page.date %}{{ page.date | date(format="%-d %B, %Y") }}{% endif %}

    {% set_global sorted_taxonomies = [] %}
    {% for taxonomy_name, _ in page.taxonomies %}
    {% set_global sorted_taxonomies = sorted_taxonomies | concat(with=taxonomy_name) %}
    {% endfor %}
    {% set_global sorted_taxonomies = sorted_taxonomies | sort %}

    {% for taxonomy_name in sorted_taxonomies %}
    {% set terms = page.taxonomies[taxonomy_name] %}
    - {{ taxonomy_name | capitalize }}:
    {% for term_name in terms %}
    {% set term = get_taxonomy_term(kind=taxonomy_name, term=term_name) %}
    <a href="{{ term.permalink }}">{{ term.name }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    {% endfor %}
  </p>
  {% endif %}
  <p id="read-time" class="taxonomies"></p>
  {% block begin_article %}
  {% endblock begin_article %}
  {{ page.content | safe }}

{% block end_article %}
{% endblock end_article %}

</article>

{% block after_article %}
{% endblock after_article %}

{% endblock content %}


