{% extends "page.html" %}

{% block content %}
<div id="refs" class="references csl-bib-body hanging-indent"
role="doc-bibliography">
<div id="ref-9594117" class="csl-entry" role="doc-biblioentry">
Benammar, Meryem, Eduardo Dadalto Câmara Gomes, and Pablo Piantanida.
2021. <span>“CSI-Aided Robust Neural-Based Decoders.”</span> In <em>2021
11th International Symposium on Topics in Coding (ISTC)</em>, 1–5. <a
href="https://doi.org/10.1109/ISTC49272.2021.9594117">https://doi.org/10.1109/ISTC49272.2021.9594117</a>.
</div>
<div id="ref-colombo2022" class="csl-entry" role="doc-biblioentry">
Colombo, Pierre, Eduardo Dadalto, Guillaume Staerman, Nathan Noiry, and
Pablo Piantanida. 2022. <span>“Beyond Mahalanobis Distance for Textual
OOD Detection.”</span> In <em>Advances in Neural Information Processing
Systems</em>. <a
href="https://proceedings.neurips.cc/paper_files/paper/2022/file/70fa5df8e3300dc30bf19bee44a56155-Paper-Conference.pdf">https://proceedings.neurips.cc/paper_files/paper/2022/file/70fa5df8e3300dc30bf19bee44a56155-Paper-Conference.pdf</a>.
</div>
<div id="ref-gomes2022igeood" class="csl-entry" role="doc-biblioentry">
Dadalto, Eduardo, Florence Alberge, Pierre Duhamel, and Pablo
Piantanida. 2022. <span>“Igeood: An Information Geometry Approach to
Out-of-Distribution Detection.”</span> In <em>International Conference
on Learning Representations</em>. <a
href="https://openreview.net/forum?id=mfwdY3U_9ea">https://openreview.net/forum?id=mfwdY3U_9ea</a>.
</div>
<div id="ref-dadalto2023functional" class="csl-entry"
role="doc-biblioentry">
Dadalto, Eduardo, Pierre Colombo, Guillaume Staerman, Nathan Noiry, and
Pablo Piantanida. 2023. <span>“A Functional Data Perspective and
Baseline on Multi-Layer Out-of-Distribution Detection.”</span> <a
href="https://arxiv.org/abs/2306.03522">https://arxiv.org/abs/2306.03522</a>.
</div>
<div id="ref-gomes2023a" class="csl-entry" role="doc-biblioentry">
Dadalto, Eduardo, Marco Romanelli, Federica Granese, and Pablo
Piantanida. 2023. <span>“A Simple Training-Free Method for Rejection
Option.”</span>
</div>
<div id="ref-dadalto2023datadriven" class="csl-entry"
role="doc-biblioentry">
Dadalto, Eduardo, Marco Romanelli, Georg Pichler, and Pablo Piantanida.
2023. <span>“A Data-Driven Measure of Relative Uncertainty for
Misclassification Detection.”</span> <a
href="https://arxiv.org/abs/2306.01710">https://arxiv.org/abs/2306.01710</a>.
</div>
<div id="ref-darrin2023unsupervised" class="csl-entry"
role="doc-biblioentry">
Darrin, Maxime, Guillaume Staerman, Eduardo Dadalto, Jackie CK Cheung,
Pablo Piantanida, and Pierre Colombo. 2023. <span>“Unsupervised
Layer-Wise Score Aggregation for Textual OOD Detection.”</span> <a
href="https://arxiv.org/abs/2302.09852">https://arxiv.org/abs/2302.09852</a>.
</div>
</div>
{% endblock %}
